$accent: #7b7b7b;
$default: #436372;
$title: #191919;
$hover:  #cc0033;
$bg-accent: #fcd7b6;
$bg-other: #feefe2;
$bg-partners: #fef7f0;
$bg-h: #edf1f4;


%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

